{% macro head() %}
  <head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <!-- Using the latest rendering mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css" type="text/css"/>
    <link href="{{ SITEURL }}/theme/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css"/>
    <script src="http://code.jquery.com/jquery.js"></script>

    {% if FEED_ALL_ATOM %}
      <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
      <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% include 'includes/ga.html' %}
  </head>
{% endmacro %}

{% macro menu_item(name=None, url, icon=None, glyph=None) %}
  <li>
    <a href="{{ url }}">
      {% if icon %}
        <i class="icon-{{ icon }} icon-large"></i>
      {% endif %}
      {% if glyph %}
        <span class="glyphicon glyphicon-{{ glyph }}"></span>
      {% endif %}
      {% if name %}
        {{ name }}
      {% endif %}
    </a>
  </li>
{% endmacro %}

{% macro menu() %}
  <div id="banner" class="container">
    <div style="float: left; width: 75px; margin: 10px 10px 20px;">
      <a href="{{ SITEURL }}"><img src="{{ SITEURL }}/theme/images/acm_logo.png" height="75" width="75"></a>
    </div>
    <div>
      <h3>{{ SITENAME }}</h3>
      <h4>{{ TAGLINE }}</h4>
    </div>
  </div>

  <div class="container">
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for page in PAGES %}
              <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
          {% endif %}
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li {% if cat == category %}class="active"{% endif %}>
                <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{ menu_item(url='https://www.facebook.com/groups/utexas.acm/', icon='facebook-sign') }}
          {{ menu_item(url='https://github.com/UTACM/utacm.org', icon='github-alt') }}
          {{ menu_item(url='https://twitter.com/utacm', icon='twitter-sign') }}
          <li>
            <a href="#" onclick="cornify_add();return false;"><i class="icon-heart icon-large"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro footer_js() %}
  <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/cornify.min.js"></script>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44212118-1', 'utacm.org');
    ga('send', 'pageview');
  </script>
{% endmacro %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  {{ head() }}
  <body>
    {{ menu() }}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    {{ footer_js() }}
  </body>
</html>
